# OpenJev / OpenJevPro Production & Local Web Service Configuration
openjev.pro, www.openjev.pro {
    root * /home/ubuntu/Projects/OpenJev/site
    file_server
    encode zstd gzip

    tls zhangcy122@gmail.com

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}

:8080 {
    root * /home/ubuntu/Projects/OpenJev/site
    file_server
}
